* {
  font-family: Arial, Sans-Serif;
  font-size: 13px;
}

a {
  opacity: 0.75;
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.material-icons {
  size: 2em;
  opacity: 0.55;
  margin-left: 15px;
}

.NavLeft {
  display: inline;
}

.NavRight {
  float: right;
}

.spaced {
  margin-left: 15px;
}

body {
  margin: 16px;
}

#GoogleLogo {
  padding-top: 109px;
}

.button {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.button:hover {
  border-color: #c8c8c8;
  box-shadow: 0px 0px 2px 0px #c8c8c8;
}

#SearchBar {
  width: 582px;
  background: #fff;
  display: flex;
  border: 1px solid #d0d0d0;
  border-radius: 24px;
  height: 44px;
  margin: 0 auto;
}

#SearchBar:hover {
  box-shadow: 0px 0px 2px 0px #d0d0d0;
  cursor: text;
}

/* 
TODO: Resixe search bar
TODO: center Google Logo
TODO: create sign in button
TODO: create footer
TODO: add nav bars to the top and bottom of page
TODO: Make the SearchBar look like Googles
*/
