* {
  font-family: Arial, Sans-Serif;
  font-size: 15px;
}
header {
  margin-top: 23px;
}
a {
  opacity: 0.75;
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.material-icons {
  size: 2em;
  opacity: 0.55;
  margin-left: 15px;
}

.NavLeft {
  display: inline;
  margin-left: 10px;
}

.NavRight {
  float: right;
  margin-right: 10px;
}

.spaced {
  margin-left: 15px;
}

main {
  margin-top: 50px;
}

#GoogleLogo {
  padding-top: 109px;
  padding-bottom: 25px;
}

.button {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  margin-top: 30px;
}

.button:hover {
  border-color: #c8c8c8;
  box-shadow: 0px 0px 2px 0px #c8c8c8;
}

#SearchBar {
  width: 500px;
  background: #fff;
  display: flex;
  border: 1px solid #d0d0d0;
  border-radius: 24px;
  height: 44px;
  margin: 0 auto;
}

#SearchBar:hover {
  box-shadow: 0px 0px 5px 0px #d0d0d0;
  cursor: text;
}

footer {
  position: absolute;
  right: 0px;
  left: 0px;
  top: 450px;
  bottom: 0px;
  background-color: rgb(241, 241, 241);
  height: 40px;
  margin-top: 427px;
  padding-top: 10px;
}

.NavLeftFooter {
  display: inline;
  margin-left: 20px;
}

.NavRightFooter {
  float: right;
  margin-right: 20px;
}

.spaced2 {
  margin-left: 15px;
  text-align: center;
  margin-top: 500px;
}
/* 
TODO: create sign in button
TODO: create footer
TODO: add nav bars to the top and bottom of page
*/
